/* This file will hold the main styles for your website. */
img {
  max-width: 100%;
  height:auto;   
}

#block-system-main-menu .content ul li {
  float:left;
  display:block;
}

#block-block-5 .content ul li {
  display:inline;
}

#block-menu-menu-feeds .content li {
  padding-left:20px;
  list-style:none;
  background:transparent url('/misc/feed.png') no-repeat scroll 0px 5px;
  margin-left:0;
}

.field-label-inline .field-item {
  padding-right:1ex;
}
